@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-foreground: #ffffff;
  --font-sans: var(--font-geist-sans), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Selection */
::selection {
  background-color: rgba(255, 255, 255, 0.99);
  color: #000;
}
